/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

/*.BasketTool-label {*/

/*}*/

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-link {
  margin-right: auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #0087e9;
}